<!--<div class="flex flex-col gap-y-2">-->
<!--  <p-card>-->
<!--    <ng-template #title>-->
<!--      <p class="text-2xl">{{event()?.name}}</p>-->
<!--    </ng-template>-->
<!--    <ng-template #subtitle>-->
<!--      <div class="flex flex-col items-start gap-y-2">-->
<!--        <p><i class="pi pi-map-marker mr-1"></i>{{event()?.place}}</p>-->
<!--        <p><i class="pi pi-calendar mr-1"></i>Termíny</p>-->
<!--        <app-event-term-selector class="w-full"-->
<!--          [terms]="terms()" [eventUUID]="this.event()?.uuid" [formControl]="eventTermForm"-->
<!--          [setDefault]="false" [showAdmin]="true">-->
<!--        </app-event-term-selector>-->
<!--      </div>-->
<!--    </ng-template>-->
<!--  </p-card>-->

<!--  @let selected = selectedEventTerm();-->
<!--  @if(selected) {-->
<!--    @if (selected.registrations && !!selected.registrations.length) {-->
<!--      <app-registrations [registrations]="selected.registrations" (registrationUpdate)="onRegistrationUpdate($event)"></app-registrations>-->
<!--    } @else {-->
<!--      <p-message text="Tento termín nemá ešte žiadne registrácie." severity="info"></p-message>-->
<!--    }-->
<!--  } @else {-->
<!--    <p-message text="Najskôr vyber termín." severity="contrast"></p-message>-->
<!--  }-->
<!--</div>-->
