<!-- <div class="flex flex-row items-baseline justify-between py-3 px-5 bg-surface-100">
  <div class="hidden sm:flex flex-row items-baseline justify-center gap-x-1">
    <p-button icon="pi pi-facebook" rounded="true" text="true" severity="secondary" />
    <p-button icon="pi pi-instagram" rounded="true" text="true" severity="secondary" />
    <p-button icon="pi pi-whatsapp" rounded="true" text="true" severity="secondary" />
    <p-button icon="pi pi-envelope" rounded="true" text="true" severity="secondary" />
  </div>
  <div class="flex sm:hidden">
    <p-button class="flex sm:hidden" icon="pi pi-share-alt" rounded="true" text="true" (click)="shareMenu.toggle($event)" />
    <p-menu #shareMenu [model]="shareItems" [popup]="true"/>
  </div>
  <p routerLink="/" class="cursor-pointer">HORIZONT</p>
  <div class="hidden sm:flex flex-row items-baseline justify-center gap-x-1">
    <p-message class="hidden lg:block" severity="success" class="mr-1">Krúžky prebiehajú</p-message>
    <p-button class="lg:hidden" icon="pi pi-thumbs-up" rounded="true" text="true" severity="success" />
    <p-button icon="pi pi-moon" rounded="true" text="true" severity="secondary" />
    <p-button icon="pi pi-bell" rounded="true" text="true" severity="help" />
    <p-button icon="pi pi-user" rounded="true" text="true" (click)="loginMenu.toggle($event)" />
    <p-menu #loginMenu [model]="loginItems" [popup]="true"/>
  </div>
  <div class="sm:hidden flex flex-row items-baseline justify-center gap-x-1">
    <p-button icon="pi pi-thumbs-up" rounded="true" text="true" severity="success" />
    <p-button class="" icon="pi pi-ellipsis-v" rounded="true" text="true" />
  </div>
</div>
<div class="flex flex-row items-baseline justify-end px-5 py-3 gap-x-3 bg-surface-100">
  <p-button label="Novinky" [link]="true" />
  <p-button label="Klub" [link]="true" />
  <p-button label="Projekty" [link]="true" />
  <p-button label="Registrácia" [variant]="rla.isActive ? 'outlined' : 'text'" routerLink="register" routerLinkActive #rla="routerLinkActive" />
  <p-button label="O nás" [link]="true" />
</div> -->

<div class="flex flex-row items-baseline justify-around py-10 px-5 bg-surface-100">
  @if(isNotProd()) {
    <p class="text-2xl">#leziemevpezinku [{{environment()}}]</p>
  } @else {
    <p class="text-2xl">#leziemevpezinku</p>
  }
  <div class="flex flex-row items-baseline justify-center gap-x-2">
    <a pButton [text]="true" routerLinkActive="font-bold" routerLink="/registration">Registrácie</a>
    <a *ifLoggedIn pButton [text]="true" routerLinkActive="font-bold" routerLink="/event">Tábory</a>
    <p-button [label]="loginButtonLabel" variant="text" severity="info" (onClick)="onLoginClick()"></p-button>
  </div>
</div>