
<p-card styleClass="overflow-hidden">
  <ng-template #title>
    <div class="flex items-center gap-2">
      <a class="text-2xl" [routerLink]="redirectService.getEventDetailTree(entity().id ?? 0)">{{ entity().name }}</a>
      <app-enum-tag enumName="EVENT_STATUS" [value]="entity().status"></app-enum-tag>
    </div>
  </ng-template>
  <ng-template #subtitle>
    <div class="flex flex-col items-start gap-y-2">
      <p><i class="pi pi-map-marker mr-1"></i>{{ entity().placeCode }}</p>
    </div>
  </ng-template>
  <div class="flex flex-col gap-y-2">
    <p class="m-0">{{ entity().details }}</p>
  </div>
</p-card>
