#www.{$HOR_HOSTNAME} {
#  redir https://{$HOR_HOSTNAME}{uri} permanent
#}

{$HOR_HOSTNAME} {
  root * /var/www/angular
  encode zstd gzip

  route {
    # reverse proxy to backend (name of a container from backend stack)
    reverse_proxy /api/* {$HOR_BE_CONTAINER_NAME}:{$HOR_BE_PORT}

    # all other requests return index.html
    try_files {path} /index.html
    header /index.html >Cache-Control "no-store"
    file_server
  }
}