.mask-box {
  --top-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" width="1000" height="90"><g transform="scale(1.5,-1)" transform-origin="12.5% 50%"><path d="M0 0v100c250 0 375-24 500-48 125 24 250 48 500 48V0H0Z" opacity=".5"/><path d="M0 0v4c250 0 375 24 500 48C625 28 750 4 1000 4V0H0Z"/></g></svg>');
  --top-mask-image-height: 90; /* The width of the top mask image */
  --top-mask-image-width: 1000; /* The height of the top mask image */

  --top-mask-height: calc( ( var(--top-mask-image-height) / var(--top-mask-image-width) * 100 ) * 1cqw - 2px );

  /* Apply negative margin to the top */
  margin-block-start: calc( -1 * var(--top-mask-height) );

  /* Pad the container so content doesn't hit the masks */
  padding-block-start: var(--top-mask-height);

  /* Apply the three masks! */
  mask-image:
    var(--top-mask-image),
    linear-gradient(transparent var(--top-mask-height), black 0%, black calc( 100% - var(--top-mask-height)) );
  mask-repeat: no-repeat;
  mask-position: top, top;
  mask-size: 100%, 100%; /* You may need to increase the width to 101% on the svg masks to compensate for strange sizing behavior in Firefox */
}

.mask-box:not(:last-child) {
  padding-block-end: var(--top-mask-height);
}