<app-image-carousel></app-image-carousel>

<div class="mask-box bg-gradient-to-b from-neutral-300 to-zinc-50 flex justify-center">
  <app-introduction id="intro"></app-introduction>
</div>

<div class="mask-box bg-gradient-to-b from-neutral-300 to-zinc-50 flex justify-center">
  <app-activities id="activities"></app-activities>
</div>

<div class="mask-box bg-gradient-to-b from-neutral-300 to-zinc-50 flex justify-center">
  <app-image-gallery id="gallery"></app-image-gallery>
</div>

<div class="mask-box bg-gradient-to-b from-neutral-300 to-zinc-50 flex justify-center pb-40">
  <app-intro-team id="team"></app-intro-team>
</div>