<div class="container p-4 flex flex-col items-center justify-center gap-y-10">
  <app-section-header
    header="Vitajte"
    subheader="Náš klub a jeho hodnoty."
  ></app-section-header>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pharetra quis purus a pretium. Sed quis auctor
    ante. Nullam sed vulputate leo. Ut lacinia auctor quam condimentum mollis. Donec erat urna, dapibus in porta nec,
    ultrices eu diam. Vestibulum rhoncus ligula nec risus luctus elementum. Vestibulum efficitur, justo vel mattis
    finibus, dui erat imperdiet elit, eu porta turpis ex eu sapien. Sed condimentum, orci quis euismod facilisis, quam
    enim aliquam lectus, blandit euismod lacus justo et tellus. Ut sed ante vitae massa ornare varius. Donec lobortis
    consectetur est, sed auctor justo viverra et. Mauris non ultrices orci. In mattis, ex nec fringilla gravida, libero
    augue molestie odio, id lacinia elit nisi sit amet ligula.
    <br><br>
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum ante ipsum
    primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum ante ipsum primis in faucibus orci
    luctus et ultrices posuere cubilia curae; Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
    cubilia curae; Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum
    ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum ante ipsum primis in
    faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum ante ipsum primis in faucibus orci luctus et
    ultrices posuere cubilia curae; Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
    <br><br>
    Nunc placerat sed magna non auctor. Maecenas luctus elit ac nunc vehicula commodo. Aenean varius pulvinar ex, sit
    amet tincidunt dolor tempus tincidunt. Duis dui purus, feugiat eu tristique vel, eleifend sit amet sem. Fusce sed
    maximus mauris, vel viverra felis. Aliquam erat volutpat. Duis dignissim sed nunc sit amet elementum. Vivamus nec
    odio sem. Fusce eget rhoncus urna. Nam placerat blandit quam, sed semper massa auctor sagittis. Mauris venenatis
    metus sed eros gravida convallis. Aenean et elementum diam. Curabitur dui velit, consectetur rutrum leo id,
    imperdiet scelerisque massa.
    <br><br>
    Fusce nibh tortor, rhoncus vel purus non, porta tristique purus. Suspendisse id nibh volutpat, sollicitudin erat in,
    fringilla tortor. Vestibulum vitae diam volutpat, fringilla velit et, imperdiet dolor. Phasellus massa ligula,
    posuere at dictum vel, rhoncus ac ipsum. Cras consectetur magna vitae libero luctus ultricies. Donec odio neque,
    condimentum eget porta vel, facilisis eget nulla. Duis lacus nisl, consequat et augue non, imperdiet fermentum
    lorem. Curabitur et turpis eget ligula imperdiet vehicula.
    <br><br>
    Aliquam varius viverra risus, et scelerisque eros rhoncus vitae. Curabitur mattis venenatis mi. Donec elementum in
    orci sed mollis. Duis felis elit, condimentum eu vehicula sit amet, placerat at eros. Etiam nec eleifend urna, vitae
    dignissim tellus. Etiam in diam cursus, fermentum augue non, scelerisque tellus. Proin pulvinar ut felis non ornare.
    Nam aliquam eu lacus sollicitudin semper. Nulla risus dui, mollis eget viverra id, sagittis volutpat tellus. Quisque
    nisi dui, molestie in neque laoreet, eleifend aliquet lacus. Aenean vestibulum volutpat tincidunt. Morbi vitae metus
    ante. Duis venenatis in augue quis semper. Cras vulputate lacus sed porta molestie.
    <br><br>
    Donec rhoncus quam congue tristique faucibus. Suspendisse id magna at libero laoreet finibus hendrerit id diam. Cras
    eleifend, mauris et sagittis ultricies, magna ligula tempor lacus, vel consequat arcu eros sit amet dolor. Curabitur
    faucibus eros quis tellus efficitur rutrum. Nulla id orci nec diam dignissim feugiat. Suspendisse nec efficitur
    justo. Mauris nec arcu vulputate eros auctor posuere. Aliquam ornare elit quis auctor maximus. Duis ut ipsum diam.
    Morbi egestas luctus velit in ultricies. Fusce suscipit massa sit amet felis placerat condimentum. Vivamus tincidunt
    a turpis eget pretium. Quisque orci mi, congue et iaculis vel, cursus vitae quam. Duis vel dictum metus. Nunc
    facilisis varius neque, ac ornare nisi malesuada vitae. Aliquam facilisis felis sed porttitor aliquam.
    <br><br>
    Duis sit amet dignissim neque. Cras id magna porta diam pulvinar consequat. Donec lacus lorem, sollicitudin sed ex
    sit amet, lobortis ultricies nisi. Aliquam nec tempor dui. Etiam id magna fermentum, congue ipsum malesuada,
    interdum massa. Sed eu urna mattis, bibendum lectus eu, luctus nisi. Aliquam eu nunc in turpis gravida ultricies vel
    id nulla. Proin ut malesuada turpis, vel porta felis. Vivamus lobortis eros et congue lacinia. Quisque justo justo,
    lobortis et dictum sit amet, venenatis id risus. Pellentesque ornare semper tortor feugiat molestie. Nulla non neque
    commodo, bibendum dolor non, maximus lorem. Donec et justo eu nibh molestie rutrum vulputate sit amet ligula.
    Quisque ut mi tortor.
    <br><br>
    Mauris varius varius enim. In lacinia nec purus eget rutrum. Etiam interdum turpis eget odio laoreet, a finibus quam
    pulvinar. In hac habitasse platea dictumst. Cras id lorem tincidunt, venenatis lorem sed, pharetra dui. Proin id
    lorem consectetur lacus congue rhoncus tristique ut tellus. Phasellus ut ultrices diam, ac pretium neque. Donec
    iaculis semper ipsum non sodales. Nunc ornare augue quis placerat finibus.
    <br><br>
    Curabitur a lectus ac est sodales dignissim et et ligula. Ut vitae dictum lorem, vehicula faucibus erat. Curabitur
    nec tristique magna. Donec lobortis fermentum suscipit. Ut tempus urna iaculis facilisis interdum. Nulla blandit
    sodales mattis. Vestibulum ac lobortis mi. Cras facilisis elementum urna, eget tincidunt dui consectetur ut. Donec
    lacus libero, accumsan ut orci quis, aliquet dictum diam. Phasellus elementum velit nunc, non aliquet tortor
    efficitur sed. In gravida velit leo, quis convallis felis congue ut. Integer turpis ex, interdum ut arcu quis,
    tincidunt condimentum ex. Mauris sit amet sapien elementum, rutrum metus eu, gravida augue.
    <br><br>
    Nulla facilisi. Aenean semper tincidunt arcu ac dapibus. Donec eget scelerisque erat. Nam feugiat purus at tempor
    porttitor. Vivamus accumsan nisl in enim egestas ullamcorper. In consectetur mi varius sem molestie, ac cursus est
    malesuada. Aliquam convallis urna quis bibendum iaculis. Integer in interdum nisi, posuere volutpat lectus. In id
    dui ac massa placerat facilisis eget non nulla.
    <br><br>
    Suspendisse mattis elit at odio lacinia convallis. Nulla in erat et nibh faucibus pellentesque eu eu nulla.
    Curabitur convallis neque urna, et feugiat massa mollis non. Nulla in diam nec quam gravida ornare. Ut egestas metus
    in tellus dignissim accumsan. Pellentesque leo risus, egestas in maximus sed, laoreet a ligula. Ut vitae nunc in
    quam pretium tincidunt eu sit amet nunc. Aliquam vel gravida quam. Mauris luctus dui ut lectus maximus, facilisis
    venenatis ligula elementum. Donec vitae ex ex. Duis ullamcorper imperdiet ligula sed congue. Maecenas nec venenatis
    purus. Sed volutpat quam ut leo cursus, non finibus risus auctor.
  </p>
</div>