<div class="w-full flex flex-col gap-y-2">
  <h1 class="w-full text-2xl">Aktívne registrácie</h1>
  <h2 class="w-full mb-2 text-md">Tu sa môžete registrovať a budete presmerovaný na registračný formulár.</h2>
  @if (hasEventsWithStatus(EventStatusType.ACTIVE) | async) {
    <div class="w-full grid grid-cols-1 sm:grid-cols-2 items-stretch gap-4">
      @for (event of events[EventStatusType.ACTIVE] | async; track $index) {
        <app-event-card [event]="event"></app-event-card>
      }
    </div>
  } @else {
    <p-message severity="secondary" variant="outlined">Aktuálne neexistujú žiadne aktívne registrácie.</p-message>
  }
  <span class="w-full p-1"></span>
  <h1 class="w-full text-2xl">Budúce registrácie</h1>
  <h2 class="w-full mb-4 text-md">Tieto registrácie sa ešte len spustia, termín začiatku registrácie pre jednotlivé udalosti je vidieť na ich kartách.</h2>
  @if (hasEventsWithStatus(EventStatusType.FUTURE) | async) {
    <div class="w-full grid grid-cols-1 sm:grid-cols-2 gap-4">
      @for (event of events[EventStatusType.FUTURE] | async; track $index) {
        <app-event-card [event]="event"></app-event-card>
      }
    </div>
  } @else {
    <p-message severity="secondary" variant="outlined">Aktuálne neexistujú žiadne budúce registrácie.</p-message>
  }
</div>