<div class="p-2 space-y-4">
  <h3 class="text-xl">Nová udalosť</h3>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    <app-form-with-errors [errorMessages]="{'required': 'Názov udalosti je povinný.'}">
      <p-floatlabel variant="on">
        <label for="event-name">Názov</label>
        <input pInputText fluid id="event-name" formControlName="name" autocomplete="off" pSize="large"/>
      </p-floatlabel>
    </app-form-with-errors>
    <app-enum-select formControlName="eventType" enumName="REG_EVENT_TYPE" placeholder="Typ" inputId="event-type"></app-enum-select>
    <app-enum-select formControlName="placeCode" enumName="REG_PLACE" placeholder="Miesto" inputId="event-place"></app-enum-select>
    <app-form-with-errors>
      <p-float-label variant="on">
        <p-date-picker formControlName="registrationStarts" fluid showIcon iconDisplay="input" inputId="event-reg-start"
                       [showTime]="true" hourFormat="24" stepMinute="30">
        </p-date-picker>
        <label for="event-reg-start">Registrácia - začiatok</label>
      </p-float-label>
    </app-form-with-errors>
    <app-form-with-errors>
      <p-float-label variant="on">
        <p-date-picker formControlName="registrationEnds" fluid showIcon iconDisplay="input" inputId="event-reg-end"
                       [showTime]="true" hourFormat="24" stepMinute="30"
                       [minDate]="registrationEndsMinDate">
        </p-date-picker>
        <label for="event-reg-end">Registrácia - koniec</label>
      </p-float-label>
    </app-form-with-errors>
    <app-event-condition-form [formArray]="form.controls.conditions"></app-event-condition-form>
    <p-button label="Uložiť" type="submit"></p-button>
  </form>
  <p>{{form.getRawValue() | json}}</p>
</div>
