/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

:root {
  --content-min-height: calc(100svh - 198px);
}

@import "primeicons/primeicons.css";
@import "tailwindcss";
@import "tailwindcss-primeui";