.footer-mask {
  --top-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" width="1000" height="70"><g transform="scale(-1,-1)" transform-origin="50%"><path d="M0 1v99c134.3 0 153.7-99 296-99H0Z" opacity=".5"></path><path d="M1000 4v86C833.3 90 833.3 3.6 666.7 3.6S500 90 333.3 90 166.7 4 0 4h1000Z" opacity=".5"></path><path d="M617 1v86C372 119 384 1 196 1h421Z" opacity=".5"></path><path d="M1000 0H0v52C62.5 28 125 4 250 4c250 0 250 96 500 96 125 0 187.5-24 250-48V0Z"></path></g></svg>');
  --top-mask-image-height: 70;
  --top-mask-image-width: 1000;

  --top-mask-height: calc( ( var(--top-mask-image-height) / var(--top-mask-image-width) * 100 ) * 1cqw - 2px );

  /* Apply negative margin to the top */
  margin-block-start: calc( -1 * var(--top-mask-height) );

  /* Pad the container so content doesn't hit the masks */
  padding-block-start: var(--top-mask-height);

  /* Apply the three masks! */
  mask-image:
    var(--top-mask-image),
    linear-gradient(transparent var(--top-mask-height), black 0%, black calc( 100% - var(--top-mask-height)) );
  mask-repeat: no-repeat;
  mask-position: top, center;
  mask-size: 100%; /* You may need to increase the width to 101% on the svg masks to compensate for strange sizing behavior in Firefox */
}